.login {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.login input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 15px 5px 5px 10px;
  background: none;
  font-size: 18px;
  margin: 0px 0px 10px;
}

.login button {
  padding: 15px 20px;
  margin: 10px;
  color: white;
  border: none;
  background: blue;
}
